#sinatra_authentication
  %table
    - @users.each do |user|
      %tr
        %td
          = user.email
        %td
          = user.name
        %td
          %a{:href => "/users/#{user.id}"} show
