<!DOCTYPE html>
<html>
  <head>
    <title>FocusDog</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="jay_li" name="author">
    <meta content="xsolife.com - Segment Of Jay's Life..." name="description">
    <meta content="focusmail dog" name="keywords">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/jquery.js" type="text/javascript"></script>
  </head>

  <body>
    <div style="position: absolute;" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div style="width: auto; padding-left: 15%;padding-right:10%;" class="container">
          <a href="#" class="brand">FocusMail日志管理平台</a>
          <ul class="nav pull-right">
              <li><a href="" target="_blank">登陆FocusMail</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container clearfix" style="margin-top:50px;">
      <div class="row-fluid">
        <div class="span12" style="width:970px;margin-left:100px;padding:5px 10px;border-radius: 3px;box-shadow: 2px 2px 2px 2px gray;min-height: 400px;">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

  <script>
    $(function(){
       $("table").removeAttr("border");
       $("table").addClass("table table-bordered table-condensed table-hover");
       $("table th").css("text-align","center");
       $("table td").css("text-align","center");
    });
  </script>
</html>
