<table class="table">
  <% for user in @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link "edit", "/users/#{user.id}/edit" %></td>
    </tr>
  <% end %>
</table>
